<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <p>Aktuální datum a čas: {{ current_time }}</p>
    <p>Počet zobrazení: {{ page_views }}</p>
</body>
</html>
